<%- include('./partials/header') %>

<h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (!user) { %>
      <!-- If user is not authenticated, display a link to login -->
      <a href="/auth/google">Create Your Profile</a>
    <% } else { %>
      <!-- If user is authenticated, automatically redirect to create profile -->
      <script>
        window.location.href = "/profiles/new";
      </script>
    <% } %>

<%- include('./partials/footer') %>
