body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  color: #fff;
  font-family: Arial, sans-serif;
}

nav {
  background-color: black;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.main-content {
  margin-top: 60px;
  padding: 20px;
  background-color: #1c1c1c;
  color: #fff;
}

nav h1 {
  margin: 0;
  padding-left: 20px;
  font-size: 24px;
  background-color: black;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  background-color: black;
  margin-right: 10px;
}

nav li {
  margin-left: 20px;
  background-color: black;
}

nav ul :hover {
  background-color: #ddd;
  color: black;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.login {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.login img {
  height: 20px;
  margin-left: 5px;
}

.landing-title {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 10px;
  align-items: center;
}

.landing-description {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.landing-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00b7ff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
}

.landing-btn:hover {
  background-color: #0097e0;
}

.content-heading {
  background-color: rgba(231, 234, 255, 0.1);
  font-size: 2rem;
  margin-top: 20px;
}

.content-paragraph {
  color: #f4f6fb;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.content-subheading {
  background-color: rgba(231, 234, 255, 0.1);
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.technique-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.technique-table th,
.technique-table td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.technique-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.technique-table tr:hover {
  background-color: #333;
}

.remove-link:hover {
  color: white;
}

.remove-link {
  color: #e74c3c;
  text-decoration: none;
}

.remove-link:hover {
  text-decoration: underline;
}

.training-sessions-label {
  padding-top: 16px;
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  display: block;
  text-align: center;
}


.training-sessions-label,
.user-techniques-label {
  padding: 16px 0;
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.training-session-button,
.add-tech-button {
  background-color: #00b7ff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 10px;
}

.session-list,
.technique-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.session-item,
.technique-item {
  margin-bottom: 10px;
}

.session-date {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}

.view-session-button,
.remove-link {
  background-color: #00B7FF;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.view-session-button:hover,
.remove-link:hover {
  background-color: #0097E0;
}



body, h1, p, ul, li {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c; 
  color: #fff;
  font-family: Arial, sans-serif; }

nav {
  background-color: black;   color: #fff;   padding: 10px 0;   position: fixed;   top: 0;
  width: 100%;   z-index: 100;   display: flex;
  justify-content: space-between;
}

.main-content {
  margin-top: 60px; }

nav h1 {
  margin: 0;   padding-left: 20px;   font-size: 24px;     background-color: black; }

nav ul {
  list-style: none;   padding: 0;   display: flex;   background-color: black; 
}

nav li {
  margin-left: 20px;   background-color: black; }

nav ul :hover {
  background-color: #ddd;
  color: black;
}

nav a {
  text-decoration: none;   color: #fff; }

.login {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.login img {
  height: 20px;   margin-left: 5px; }

.landing-title {
  color: #fff;   font-size: 2.5rem;   margin-bottom: 10px; align-items: center;}

.landing-description {
  color: #fff;   font-size: 1.5rem;   margin-bottom: 20px; }

.landing-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00B7FF;   color: #fff;   text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;   font-size: 1.2rem; }

.landing-btn:hover {
  background-color: #0097E0; }


.content-heading {
  background-color: rgba(231,234,255,.1);   font-size: 2rem;   margin-top: 20px; }

.content-paragraph {
  color: #f4f6fb;   font-size: 1.2rem;   margin-bottom: 20px; }

.content-subheading {
  background-color: rgba(231,234,255,.1);   font-size: 1.8rem;   margin-top: 30px;   margin-bottom: 10px; }

.technique-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.technique-table th,
.technique-table td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.technique-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.technique-table tr:hover {
  background-color: #333; }

.remove-link:hover {
  color: white; }


.remove-link {
  color: #e74c3c;
  text-decoration: none;
}

.remove-link:hover {
  text-decoration: underline;
}

.training-sessions-label {
  padding-top: 16px;
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  display: block;
  text-align: center; }

.training-session-button,
.add-tech-button {
  background-color: #00B7FF;   color: #fff;   text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;   display: inline-block;
  margin-top: 10px; }

.training-session-button:hover,
.add-tech-button:hover {
  background-color: #0097E0; }


.session-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.session-table th,
.session-table td {
  padding: 8px 12px;
  text-align: left;
}

.session-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.session-table td a {
  color: #3498db;
  text-decoration: none;
}

.session-table td a:hover {
  text-decoration: underline;
}

.session-table tr:hover {
  background-color: #333; }

.view-session-button {
  color: white;   background-color: #f2f2f2;   text-decoration: none;
  padding: 5px 10px;   border-radius: 5px;   display: inline-block;
  transition: background-color 0.3s ease; }



.view-session-button:hover {
  color: #00B7FF; }


.user-profile {
  text-align: center;
  font-family: Arial, sans-serif;   color: #333;   margin-bottom: 50px;
}

.profile-name {
  font-size: 30px;   margin-bottom: 10px; }

.profile-details {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px; }

.detail-label {
  font-size: 14px;   color: rgba(231, 234, 255, 0.5);   text-transform: uppercase;
}

.profile-detail {
  font-size: 18px;   margin: 0 12px; }

.age-text,
.belt-rank-text {
  font-size: 14px;   opacity: 0.7; }

.profile-sessions {
  margin-top: -10px;
  }
 
.user-techniques-label {
  padding-top: 16px;
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  display: block;
  text-align: center;
}

.profile-techniques {
  margin-top: -10px; 
}

.tech-page {
  padding: 20px;
  background-color: #1c1c1c;
  color: #fff;
  font-family: Arial, sans-serif;
}


.tech-page .page-title {
  font-size: 24px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.tech-page .filter-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.tech-page .filter-label {
  font-weight: bold;
  color: #00B7FF;
  margin-right: 10px;
}

.tech-page .filter-select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  width: 13%;
  margin-right: 5px;
}


.tech-page .filter-button {
  background-color: #00B7FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-left: 10px;
}



.tech-page .reset-link {
  color: #00B7FF;
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
}
.tech-page .reset-link :hover {
  text-decoration: underline
}



.tech-page .techniques-table {
  border-collapse: collapse;
  width: 100%;
}

.tech-page .techniques-table thead {
  color: #000;
}

.tech-page .table-header {
  background-color: #333;
  font-weight: bold;
  padding: 10px;
}

.tech-page .table-data {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


.tech-page .technique-row:hover {
  background-color: #f5f5f5; /
  border: 2px solid #333;
  color: #1c1c1c
}


.edit-profile-container {
  text-align: center;
  margin-top: 20px;
}

.edit-profile-heading {
  font-size: 2rem;
}

.edit-profile-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input,
.form-select {
  width: 100%;
  padding: 10px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

.form-select {
  appearance: none;
}

.form-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00B7FF;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.form-button:hover {
  background-color: #0097E0;
}

.main-content {
  margin-top: 60px;
  padding: 20px;
  background-color: #1c1c1c;
  color: #fff;
}

.user-profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.detail-label {
  font-size: 14px;
  color: rgba(231, 234, 255, 0.5);
  text-transform: uppercase;
}

.profile-detail {
  font-size: 18px;
  margin: 0 12px;
}

.age-text,
.belt-rank-text {
  font-size: 14px;
  opacity: 0.7;
}

.training-sessions-label,
.user-techniques-label {
  padding: 16px 0;
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.session-list,
.technique-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.session-item,
.technique-item {
  margin-bottom: 10px;
}

.session-date {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}

.view-session-button,
.remove-link {
  background-color: #00B7FF;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.view-session-button:hover,
.remove-link:hover {
  background-color: #0097E0;
}

.main-content {
  margin-top: 60px;
  padding: 20px;
  background-color: #1c1c1c;
  color: #fff;
}

.user-profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.detail-label {
  font-size: 14px;
  color: rgba(231, 234, 255, 0.5);
  text-transform: uppercase;
}

.profile-detail {
  font-size: 18px;
  margin: 0 12px;
}

.age-text,
.belt-rank-text {
  font-size: 14px;
  opacity: 0.7;
}

.training-sessions-label,
.user-techniques-label {
  padding: 16px 0;
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.session-list,
.technique-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.session-item,
.technique-item {
  margin-bottom: 10px;
}

.session-date {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}

.view-session-button,
.remove-link {
  background-color: #00B7FF;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.view-session-button:hover,
.remove-link:hover {
  background-color: #0097E0;
}

.training-session-button:hover,
.add-tech-button:hover {
  background-color: #0097e0;
}

.session-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.session-table th,
.session-table td {
  padding: 8px 12px;
  text-align: left;
}

.session-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.session-table td a {
  color: #3498db;
  text-decoration: none;
}

.session-table td a:hover {
  text-decoration: underline;
}

.session-table tr:hover {
  background-color: #333;
}

.view-session-button {
  color: white;
  background-color: #1c1c1c;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px, solid, white,
  display: inline-block;
  transition: background-color 0.3s ease;
}

.view-session-button:hover {
  color: #00b7ff;
}

.user-profile {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 50px;
}

.profile-name {
  font-size: 30px;
  margin-bottom: 10px
}

.profile-details {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.detail-label {
  font-size: 14px;
  color: rgba(231, 234, 255, 0.5);
  text-transform: uppercase;
}

.profile-detail {
  font-size: 18px;
  margin: 0 12px;
}

.age-text,
.belt-rank-text {
  font-size: 14px;
  opacity: 0.7;
}

.profile-sessions {
  margin-top: -10px;
}

.user-techniques-label {
  padding-top: 16px;
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  display: block;
  text-align: center;
}

.profile-techniques {
  margin-top: -10px;
}

.tech-page .page-title {
  font-size: 24px;
  color: white;
  text-align: center;
}

.tech-page .filter-form {
  margin-bottom: 20px;
}

.tech-page .filter-label {
  font-weight: bold;
}

.tech-page .filter-select {
  width: 13%;
}

.tech-page .filter-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.tech-page .reset-link {
  color: #007bff;
  text-decoration: none;
  margin-left: 10px;
}

.tech-page .techniques-table {
  border-collapse: collapse;
  width: 100%;
}

.tech-page .techniques-table thead {
  color: #000;
}

.tech-page .table-header {
  font-weight: bold;
  background-color: #f0f0f0;
}

.tech-page .table-data {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tech-page .technique-row:hover {
  background-color: #f5f5f5;
  /border: 2px solid #333;
  color: #1c1c1c;
}

.edit-profile-container {
  text-align: center;
  margin-top: 20px;
}

.edit-profile-heading {
  font-size: 2rem;
}

.edit-profile-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input,
.form-select {
  width: 100%;
  padding: 10px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

.form-select {
  appearance: none;
}

.form-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00b7ff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.form-button:hover {
  background-color: #0097e0;
}
