/* Reset some default browser styles */
body, h1, p, ul, li {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c; 
  color: #fff;
  font-family: Arial, sans-serif; /* Smoother font */
}

/* Apply styles to the navbar */
nav {
  background-color: black; /* Set the background color to black */
  color: #fff; /* Text color for links */
  padding: 10px 0; /* Add padding to the top and bottom of the navbar */
  position: fixed; /* Fix the navigation bar to the top */
  top: 0;
  width: 100%; /* Set the width to 100% to cover the entire width of the viewport */
  z-index: 100; /* Ensure it's on top of other elements */
  display: flex;
  justify-content: space-between;
}

.main-content {
  margin-top: 60px; /* Adjust the margin as needed to create space below the navbar */
}

nav h1 {
  margin: 0; /* Remove default margin */
  padding-left: 20px; /* Add padding to the left of the title */
  font-size: 24px; /* Adjust the font size of the title */
    background-color: black; /* Set the background color to black */
}

nav ul {
  list-style: none; /* Remove bullet points from the list */
  padding: 0; /* Remove default padding */
  display: flex; /* Arrange list items horizontally */
  background-color: black; /* Set the background color to black */

}

nav li {
  margin-left: 20px; /* Add space between list items */
  background-color: black; /* Set the background color to black */
}

nav ul :hover {
  background-color: #ddd;
  color: black;
}

nav a {
  text-decoration: none; /* Remove underlines from links */
  color: #fff; /* Text color for links */
}

.login {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.login img {
  height: 20px; /* Adjust the height of the login icon */
  margin-left: 5px; /* Add space between text and icon */
}

/* Apply styles to the logo */
.landing-title {
  color: #fff; /* Text color for the title */
  font-size: 2.5rem; /* Adjust the font size */
  margin-bottom: 10px; /* Add some space between the title and description */
align-items: center;}

.landing-description {
  color: #fff; /* Text color for the description */
  font-size: 1.5rem; /* Adjust the font size */
  margin-bottom: 20px; /* Add some space between the description and button */
}

/* Style the "Create Your Profile" button */
.landing-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00B7FF; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth hover effect */
  font-size: 1.2rem; /* Adjust the font size */
}

.landing-btn:hover {
  background-color: #0097E0; /* Change color on hover */
}


.content-heading {
  background-color: rgba(231,234,255,.1); /* Text color for headings */
  font-size: 2rem; /* Adjust the font size */
  margin-top: 20px; /* Add space above headings */
}

.content-paragraph {
  color: #f4f6fb; /* Text color for paragraphs */
  font-size: 1.2rem; /* Adjust the font size */
  margin-bottom: 20px; /* Add space below paragraphs */
}

.content-subheading {
  background-color: rgba(231,234,255,.1); /* Text color for subheadings */
  font-size: 1.8rem; /* Adjust the font size */
  margin-top: 30px; /* Add space above subheadings */
  margin-bottom: 10px; /* Add space below subheadings */
}

/* Add CSS styles for the technique table */
.technique-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.technique-table th,
.technique-table td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.technique-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

/* Style for the technique table row on hover */
.technique-table tr:hover {
  background-color: #333; /* Change the background color on hover */
}

/* Style for the "Remove" link inside the technique table row */
.remove-link:hover {
  color: #e74c3c; /* Change the text color on hover */
}


.remove-link {
  color: #e74c3c;
  text-decoration: none;
}

.remove-link:hover {
  text-decoration: underline;
}

.training-sessions-label {
  padding-top: 16px;
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  display: block;
  text-align: center; /* Center the text horizontally */
}

/* Apply styles to the training session table */
.session-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.session-table th,
.session-table td {
  padding: 8px 12px;
  text-align: left;
}

.session-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.session-table td a {
  color: #3498db;
  text-decoration: none;
}

.session-table td a:hover {
  text-decoration: underline;
}

/* Style for the training session table row */
.session-table tr:hover {
  background-color: #333; /* Change the background color on hover */
}

.view-session-button {
  color: white; /* White text color */
  background-color: #f2f2f2; /* Blue background color */
  text-decoration: none;
  padding: 5px 10px; /* Add padding to the button */
  border-radius: 5px; /* Add rounded corners */
  display: inline-block;
  transition: background-color 0.3s ease; /* Add a smooth hover effect */
}



/* Style for the "View Details" link inside the row */
.view-session-button:hover {
  color: #00B7FF; /* Change the text color on hover */
}


.user-profile {
  text-align: center;
  font-family: Arial, sans-serif; /* Smoother font */
  color: #333; /* Text color for the profile */
  margin-bottom: 50px;
}

.profile-name {
  font-size: 30px; /* Adjust the font size as needed */
  margin-bottom: 10px; /* Add spacing between name and details */
}

.profile-details {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px; /* Add space between name and details */
}

.detail-label {
  font-size: 14px; /* Smaller font size for labels */
  color: rgba(231, 234, 255, 0.5); /* Faded color for labels */
  text-transform: uppercase;
}

.profile-detail {
  font-size: 18px; /* Adjust the font size as needed */
  margin: 0 12px; /* Add spacing between details */
}

.age-text,
.belt-rank-text {
  font-size: 14px; /* Smaller font size for age and belt rank */
  opacity: 0.7; /* Faded color for age and belt rank */
}

.profile-sessions {
  margin-top: -10px;
  /* margin-bottom: 20px; */
}
 
.profile-techniques {
  margin-top: 50px; 
}

.tech-page .page-title {
  font-size: 24px;
  color: white;
  text-align: center;
}

.tech-page .filter-form {
  /* Your styles here */
  margin-bottom: 20px;
}

/* Apply styles to form labels */
.tech-page .filter-label {
  /* Your styles here */
  font-weight: bold;
}

/* Apply styles to form select elements */
.tech-page .filter-select {
  /* Your styles here */
  width: 13%;
}


/* Apply styles to form buttons */
.tech-page .filter-button {
  /* Your styles here */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

/* Apply styles to reset link */
.tech-page .reset-link {
  /* Your styles here */
  color: #007bff;
  text-decoration: none;
  margin-left: 10px;
}

/* Apply styles to the table */
.tech-page .techniques-table {
  /* Your styles here */
  border-collapse: collapse;
  width: 100%;
}

.tech-page .techniques-table thead {
  color: #000;
}

/* Apply styles to table headers */
.tech-page .table-header {
  /* Your styles here */
  font-weight: bold;
  background-color: #f0f0f0;
}

.tech-page .table-data {
  /* Your styles here */
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


.tech-page .technique-row:hover {
  background-color: #f5f5f5; /
  border: 2px solid #333;
  color: #1c1c1c
}
